{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Capitan</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus recusandae ducimus inventore molestias consequatur ipsam dolores reiciendis voluptatem sequi. Ex dolorem eos perferendis, adipisci doloribus tenetur sed voluptas voluptate iusto!</p>
    </div>
    <div class="col-4">
        <img src="assets/images/cq5dam.resized.img.1680.large.time1447969896291.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}
